my_workflow.json
{
  "name": "RAG Chat (테스트용, Slack 없음)",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "id": "d1a2b3c4-0001-0001-0001-000000000001",
      "name": "Chat Trigger",
      "webhookId": "rag-chat-test-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/chat",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"question\": \"{{ $json.chatInput }}\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [280, 0],
      "id": "d1a2b3c4-0004-0004-0004-000000000004",
      "name": "FastAPI /chat",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.answer }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "cond-002",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [540, 0],
      "id": "d1a2b3c4-0005-0005-0005-000000000005",
      "name": "응답 품질 체크"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "out-001",
              "name": "output",
              "value": "={{ $json.answer }}\n\n_(출처: {{ $json.source === 'pandas' ? '정형 데이터 (Parquet)' : '문서 검색 (ChromaDB)' }}{{ $json.sources && $json.sources.length > 0 ? ' — ' + $json.sources.join(', ') : '' }})_",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [800, -120],
      "id": "d1a2b3c4-0006-0006-0006-000000000006",
      "name": "Format Answer"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "out-002",
              "name": "output",
              "value": "죄송합니다, 요청하신 정보를 찾지 못했습니다.\n\n다른 표현으로 다시 질문해 주시거나, 더 구체적인 내용을 입력해 주세요.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [800, 120],
      "id": "d1a2b3c4-0007-0007-0007-000000000007",
      "name": "Format Fallback"
    }
  ],
  "pinData": {},
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "FastAPI /chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FastAPI /chat": {
      "main": [
        [
          {
            "node": "응답 품질 체크",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "응답 품질 체크": {
      "main": [
        [
          {
            "node": "Format Answer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b603014552e09ec20205047e58476b75beeed7a0f0001dc7f004959e4222b2dc"
  },
  "tags": []
}
